:root {
    --side-bar-bg-color: #2F343F;
		--side-bar-text-color: #BAC3CF;
    --window-border: #282C34;
    --search-select-bg-color: #575c61;
    --active-file-bg-color: #4084D6;
    --active-file-text-color: #2F343F;
    --item-hover-bg-color: #666A74;
    --item-hover-text-color: #E7E8EB;
    --bg-color: #2F343F;
    --text-color: #E7E8EB;
    --red: #CC575D;
    --light-red: #D7787D;
    --dark-blue: #2f4f75;
    --blue: #4084D6;
    --light-blue: #8ABEE5;
    --yellow: #FFC83F;
    --light-yellow: #FEEF6D;
    --gray: #666A74;
}

@include-when-export url('./arc-ish/latinmodern-mono-light.css');

html {
    font-size: 12pt;
}



@font-face {
    font-family: 'STIX2Text';
    font-style: normal;
    font-weight: normal;
    src: local('STIX2Text Regular'),
        url('./arc-ish/STIX2Text-Regular.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: italic;
    font-weight: normal;
    src: local('STIX2Text Italic'),
        url('./arc-ish/STIX2Text-Italic.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: normal;
    font-weight: bold;
    src: local('STIX2Text Bold'),
        url('./arc-ish/STIX2Text-Bold.woff') format('woff'),
        url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Text';
    font-style: italic;
    font-weight: bold;
    src: local('STIX2Text Bold Italic'),
    url('./arc-ish/STIX2Text-BoldItalic.woff') format('woff'),
    url('https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/fonts/HTML-CSS/TeX/woff/MathJax_Main-BoldItalic.woff') format('woff')
}

@font-face {
    font-family: 'STIX2Math';
    font-style: italic;
    font-weight: bold;
    src: local('STIX2Math'),url('./arc-ish/STIX2Math.woff') format('woff')
}

@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('./arc-ish/lmmonolt10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('./arc-ish/lmmonolt10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('./arc-ish/lmmonolt10-boldoblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Latin Modern Mono Light';
    src: url('./arc-ish/lmmonolt10-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

#write {
    font-family: "STIX2Text", "Times New Roman", "serif";
    line-height: 1.5em;
    padding: 10%;
    padding-top: 5%;
}

.file-list-item-summary {
    height: 36px;
}

.file-list-item {
    padding-top: 18px !important;
    padding-bottom: 18px;
}

#sidebar-loading-template.file-list-item {
    padding-top: 0 !important;
}

a, a:visited {
    color: var(--red);
}

hr {
  display: block;
  height: ;
  border: 0;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin: 1em 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h1  {
    font-size: 2.4em;
    border-top: 0.05em solid var(--text-color);
    border-bottom: 0.05em solid var(--text-color);
}

#write h1  {
    text-align: center;
}



h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5  {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

pre, code {
    font-family: 'Latin Modern Mono Light', "Latin Modern Mono", monospace !important;
}

.footnotes {
    display: list-item;
    margin-left: 1em;
}

.md-fences {
    border: 1px solid;
}

.md-fences.md-fences-with-lineno {
    border: none;
}

.CodeMirror-linenumber {
    color:  var(--gray);
}

*.in-text-selection,
::selection, .CodeMirror-selected {
    background-color: var(--gray)!important;
    color: var(--text-color) !important;
    text-shadow: none;
}

a.md-toc-inner {
    color: var(--text-color);
}

.cm-s-typora-default .cm-link {
    color: var(--red);
    text-decoration: underline;
}

.cm-s-typora-default .CodeMirror-activeline-background {
    left: -60px;
    right: -30px;
    background: rgba(204,204,204,.05);
}

.cm-s-typora-default .cm-code, .cm-s-typora-default .cm-comment {
    color: var(--yellow);
    font-family: var(--monospace);
}

.CodeMirror-selected, .CodeMirror-selectedtext {
    background-color: var(--gray)!important;
    color: var(--select-text-font-color)!important;
    text-shadow: none;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    border-left: 3px solid var(--red);
}

.cm-s-typora-default .cm-header, .cm-s-typora-default .cm-property {
    color: var(--light-blue);
}

.typora-sourceview-on #toggle-sourceview-btn {
    background: var(--bg-color);
    padding-left: 10px;
    margin-left: -2px;
}

#typora-source .CodeMirror-lines {
    -webkit-font-smoothing: auto;
    max-width: 1000px;
}

.md-def-name:before,
.md-def-name:after {
    color: var(--gray);
}

sup.md-footnote {
    background-color: initial;
    color: inherit;
}

mark {
    background: var(--yellow);
}

td, th {
    padding-left: 2ch;
    padding-right: 2ch;
}

/*table tr[cid]:first-child > td {
    border-top: 3px double;
}*/

table {
  border-bottom: 2px solid var(--text-color);
}

th {
    border-top: 2px solid var(--text-color);
    border-bottom: 1px solid var(--text-color)!important;
    padding-top: 6px;
    padding-bottom: 1px;
    border-color: var(--text-color);
    color: var(--text-color);
}

pre.md-meta-block {
    border: 1px solid var(--light-blue);
    background-color: var(--text-color);
    padding: 5px;
    margin-bottom: 1em;
}

.task-list-item input:before {
    content: '\221A';
    display: inline-block;
    width: 1.25rem;
    height: 1.6rem;
    vertical-align: middle;
    text-align: center;
    color: var(--text-color);
    background-color: inherit;
}

.input-group input {
  background-color: var(--bg-color);
}

.task-list-item input:checked:before,
.task-list-item input[checked]:before{
    color: inherit;
}

.md-task-list-item > input {
    top: auto;
    margin-left: -1.1em;
    font-size: 1.3em;
    margin-top: 0px;
    -webkit-appearance: none;
}

.md-task-list-item input:before {
    content: '\2610';
    display: inline-block;
    width: 1.25rem;
    height: 1.6rem;
    vertical-align: middle;
    text-align: center;
    color: var(--text-color);
    background-color: inherit;
}

.md-task-list-item input:checked:before,
.md-task-list-item input[checked]:before{
    color: inherit;
    content: '\2612';
}

.task-list-item {
    padding-left: 1.5em;
}

blockquote {
    font-style: italic;
    padding: 0.25em 24px;
    position: relative;
    color: var(--light-blue);
    border-left: 2px solid;

}

#write > blockquote {
    padding: 0.25em 30px;
    margin-left: -32px;
    width: calc(100% + 32px);
}

#write >  .md-fences-with-lineno {
    margin-left: -33px;
    color: black;
}

.CodeMirror-linenumber {
    min-width: 25px;
}

.md-header {
    font-size: inherit !important;
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background: var(--text-color);
    color: var(--bg-color);
}

.md-rawblock-on-edit>.md-rawblock-tooltip, .md-rawblock:hover>.md-rawblock-container, .md-rawblock:hover>.md-rawblock-tooltip {
    transition: background .5s linear;
    background: var(--text-color);
    color: var(--bg-color);
    display: block;
}

.show-footer footer.ty-footer {
  border-color: var(--bg-color)
}

/*blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}*/
