@charset "UTF-8";
/* CSS Document */

/** markdown source **/
.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property
{
    color: var(--red)
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor{
    border-left: 3px solid var(--gray);
}

.cm-s-typora-default .cm-comment {
    color: var(--blue);
}

.cm-s-typora-default .cm-string {
    color: var(--red)
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
    color: var(--gray);
    font-style: italic;
}

.cm-s-typora-default .cm-link {
    color: var(--green);
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: rgba(51, 51, 51, 0.72);
}

.cm-s-typora-default .cm-comment, .cm-s-typora-default .cm-code {
	color: var(--blue);
}
